@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("../img/wp3906251-snake-game-wallpapers.jpg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 75px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: rgb(8, 8, 8);
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 30px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: rgb(8, 8, 8);
}

#board{
    background: linear-gradient(rgb(107 112 107), rgb(191 191 113));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
  
    background: linear-gradient(rgb(39, 39, 39), rgb(255, 255, 255));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: rgb(158, 156, 155);
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: .25vmin solid black;
    border-radius: 8px;
}